<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>78054398709-bththcbirta0uspbdfjlkkggmfa7ch45.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.78054398709-bththcbirta0uspbdfjlkkggmfa7ch45</string>
	<key>API_KEY</key>
	<string>AIzaSyDn-rgEBK_0Jt-ZikcIwWiN3qX9A4EOlRg</string>
	<key>GCM_SENDER_ID</key>
	<string>78054398709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gameTemplate</string>
	<key>PROJECT_ID</key>
	<string>initialquiz-6af6b</string>
	<key>STORAGE_BUCKET</key>
	<string>initialquiz-6af6b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:78054398709:ios:0665f5533ba9ea3ab283bc</string>
</dict>
</plist>